<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <header>
            <h1><%= name %></h1>
            <p>Add an Actor <a href="/actor-form">here</a></p>
            <p>Add a Program <a href="/program-form">here</a></p>
        <nav>
            <a href="/">home</a>
            <a href="/program">program</a>
            <a href="/producer">producer</a>
            <a href="/director">director</a>
            <a href="/actor">actor</a>
            <a href="/streaming_platform">streaming platform</a>
        </nav>
        </div>
    </header>