<%- include('../partials/header') %>

<main class="main" id="main">
    <ul>
        <p>Producer id: <%= data.producer_id %></p>
        <p>Producer: <%= data.producer %></p>
    </u>
<%- include('../partials/footer') %>