<%- include('../partials/header') %>

<main class="main" id="main">
    <ul>
        <p>Streaming Platform id: <%= data.streaming_platform_id %></p>
        <p>Streaming Platform: <%= data.streaming_platform %></p>
    </ul>
<%- include('../partials/footer') %>